p{
	text-align:justify;
}

body{
	width:85%;
	margin:auto;
}

form{
	display:block;
}
select, input{
	float:right;
	display:block;
}

#calculate{
	float:none;
	display:block;
	margin:0 auto;
	text-align:center;
	padding:5px 20px;
	position:relative;
}

#answer-announcer
{
	visibility:hidden;
}

@media all and (max-width:465px)
{
	select, input{
		float:none;
		width:100%;

	}

	p,a,form
	{
		font-size:0.75em;
	}

	h1,h2,h3,h4
	{
		font-size:1.25em;
	}
}